<main>  
    {{#with page}} 

    <div>          
            {{> mainhead}}

            {{> aboutUs}} 

            {{> socialLink}}

            {{> form}}

            {{> map}}

            {{> formAddPlace}}

            <div>

            {{> question}}
   
            {{> contacts}}  

            </div>

    </div>  

    <section> 
        {{>footer}}   
    </section>
   
    {{/with}}  
</main>