 /* html {
  max-width: 1920px;
} */

body {
  margin: 0px;
  background: #fff;
  max-width: 1920px;
  font-family: e-Ukraine, sans-serif;
}

main,
header,
footer,
nav {
  margin: 0px;
}

section {
  padding: 16px; }

/* ---------- header ------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 200px;
  background: url(/img/Ватра.jpg);
  width: 100%;
  height: 500px;
}
 
.logo {
  display: flex;
  justify-content: center;    
  background-color: rgb(6, 150, 102);
  color: #000;
  font-size: 36px;
  border: 1px solid black;
  border-radius: 10px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 0 50px;
}

.top-content>span {
  display: flex;
  gap: 100px;
  justify-content: center;
}
  .nav-content {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  font-family: e-Ukraine, sans-serif;
  text-decoration: none;  
}

.nav-content:hover {
  color: bisque;
}

.srv-btn {
  display: flex;
  gap: 40px;
  justify-content: center;
  
}
.srv-btn>button {
  background-color: rgb(6, 150, 102);
  padding: 8px;
  color:#FFF
}

.srv-btn>button:hover {
  opacity: 0.8;
}

.hero {
  display: inline-flex;
  height: 100px;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
/* ---------------- about us ----------- */

.about {
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 20px;  
  width: 100%;
  height: 60%;
  flex-shrink: 0;
  background: #F5F4FA;
  padding: 50px 0;
}

.about-cont {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 30px
}

.about-items {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.about-img {
  display: flex; 
  padding: 20px;
  width: 132px;
  height: 112px;
}

.about-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px
}

.about-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

/* ------------------ form search --------------- */

.form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 20px;  
  flex-shrink: 0;  
  padding: 50px 0;
}

.form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.form-search>div>label {
  color: #ffcc7f;
  font-size: 20px;
}

.form-input {
  display: flex;
  align-content: center;
  gap: 20px;
  background-color: white;
  border: 1px solid rgb(170, 170, 177);
  border-radius: 10px;
  width: 720px;
  height: 40px;
  font-size: 26px;
}
 .butn {
  margin: 30px 10px 0 10px;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid gray;
  border-radius: 10px;
  background: #c8c7cc;
 }
 /* -------------------------------- */

.place-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
   width: 1200px;    
}

.place-item {
  display: flex;
  flex-direction: column;
  width: 45%;  
 
 }

.place-img {
  display: flex;
  border-radius: 20px;
  width: 100%;  
}

.place-text {
  display: flex;
 flex-direction: row;
 align-content: space-between;
}

.place-descr {
  display: flex;
  width: 60%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #000;
  text-align: justify;
  font-family: e-Ukraine, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding: 10px;
  margin: 10px;
}

.place-btn {
  position: relative;
  left: 10%;
  background-color: rgb(6, 150, 102);
  border: 1px solid gray;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin: 10px;
}

/* ------------- add place ------- */

.add-place {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 20px;  
  flex-shrink: 0;  
  padding: 50px 0;
}
/* .add-title {

} */
/* ------------------- */

.each-ctg {
 display: flex;
 flex-direction: row;
width: 178px;
height: 44px;
flex-shrink: 0;
border-radius: 10px;
background: #F5F4FA;
}


/* ------------ footer ---------------- */
.footer {
  background-color: forestgreen;
}