 /* html {
  max-width: 1920px;
} */

body {
  margin: 0px;
  background: #fff;
  max-width: 1920px;
  font-family: e-Ukraine, sans-serif;
}

main,
header,
footer,
nav {
  margin: 0px;
}

section {
  padding: 16px; }

  main {
    display: flex;
    flex-direction: column;
    gap: 180px;
  }

  /* ::-webkit-input-placeholder,
  ::placeholder { 
    color: #000; 
    font-family: e-Ukraine, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
   */

/* ---------- header ------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 324px;
  background: url(/img/synevir.png);
  width: 100%;
  height: 1080px;
}
 
.logo {
  display: flex;
  justify-content: center;    
  background-color: rgb(6, 150, 102);
  color: white;
  font-size: 36px;
  padding: 4px 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.top-content {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 16px 50px;
}

.top-content>span {
  display: flex;
  gap: 100px;
  justify-content: center;
}
  .nav-content {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  font-family: e-Ukraine, sans-serif;
  text-decoration: none; 
  padding: 16px 0; 
  width: 140px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid #FAFAFA;
  box-shadow: 0px 4px 99px 0px #454753;
}

.nav-content:hover {
  color: bisque;
}

.srv-btn {
  display: flex;
  gap: 40px;
  justify-content: center;
  
}
.srv-btn>button {
  background-color: rgb(6, 150, 102);
  padding: 8px;
  color:#FFF
}

.srv-btn>button:hover {
  opacity: 0.8;
}

.hero-block {
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
font-family: e-Ukraine, sans-serif;
font-style: normal;
width: 35%;
gap: 40px;
margin: 0px 324px;
color: #FFF;
}

.hero-title {
  display: inline-flex; 
  justify-content: center;
  text-align: center;  
  font-size: 32px;  
  font-weight: 700;
  line-height: 18px;
}

.hero-text {
color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 20px; 
}

.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 72px;
 
}

.search { 
  display: flex;
padding: 14px 50px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #6B76FF;
 color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 700;
}

.hero-btn > div {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 8px;
}

.learn {
/* width: 168px;
height: 40px; */
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 700;
}
.icon {
  display: flex;
  position: absolute;
 left: 110%;
 top: 20%;
  width: 12px;
  height: 16px;
  stroke-width: 2px;
  stroke: #FFF;
  

}
/* ---------------- about us ----------- */

.about {
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 20px;  
  width: 100%;
  height: 60%;
  flex-shrink: 0;
  background: #FFF;  
}

.about-cont {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 30px
}

.about-items {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.about-img {
  display: flex; 
  padding: 20px;
  width: 132px;
  height: 112px;
}

.about-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px
}

.about-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
/* --------------------Social---------------- */
.social-cont {
  display: flex;
  position: relative;
}

.social {
  display: flex;
  width: 100%;
  height: 460px;
  top: 0px;
  flex-shrink: 0;
  background-color: #000;
  transform: skewY(3deg);  
  margin: 20px 0;
}

.social-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 880px;
  top: 160px;
  width: 30%
}

.social-title {
  color: #FFF;
  font-family: e-Ukraine, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
}

.social-text {
  color: #BCBCBC;
  font-family: e-Ukraine, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  }

.picture:last-of-type {
  position: absolute;  
  top: -80px;
  left: 388px;
  width: 384px;
  height: 668px;
  transform: rotate(-2.001eg);
  flex-shrink: 0;
}
.picture {
  position: absolute;  
  top: -68px;
  left: 400px;
  width: 360px;
  height: 668px;
  transform: rotate(-2.001eg);
  flex-shrink: 0;
}

.social-icons {
  display: flex;
 
}



.box-icon {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  /* border: 1px solid #454753 ;
  border-radius: 30px;
  background: #2D2E38;
  box-shadow: 0px 4px 99px 0px #1c1d22; */
}

.social-iconca {
  display: flex;
  position: absolute;
  align-self: center;
  left: 20px;
  width: 20px;
  height: 20px;
  width: 200px;
  height: 200px;
}

.social-in {
  display: flex;
  position: absolute;
 top: 16px;
  left: 110px;
  width: 20px;
  height: 20px;
}


.social-iconf {
  display: flex;
  position: absolute;
  align-self: center;
  left: 22px;
  width: 15px;
  height: 20px;
}
/* ------------------ form search --------------- */

.form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 20px;  
  flex-shrink: 0;  
 
}

.form-search {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
 
}

/* .form-search>div>label {
  color: #ffcc7f;
  font-size: 20px;
} */

.form-input {
  display: flex;
  align-content: center;
  
  background-color: white;
  border-radius: 5px;
  border: 4px solid #F2EFF8;
  width: 1012px;
  height: 68px;
  font-size: 26px;
}

.search-icon {
  display: flex;
  align-content: center;
  width: 69px;
  height: 69px;
  /* background-color: #A5AEFF; */
  /* color: #A5AEFF; */
  /* position: absolute;
left: 1021px; */  
}

 /* .butn {
  margin: 30px 10px 0 10px;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid gray;
  border-radius: 10px;
  background: #c8c7cc;
 } */

 .filtr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
 }

 .filtr-category {
  display: flex;
  flex-direction: row;
  width: 312px;
height: 47px;
flex-shrink: 0;
border-radius: 5px;
background: #F5F4FA;
  
  /* align-items: center;
  align-content: center; */
 }

 .name-filtr {
  display: flex;
  width: 122px;
  height: 20px;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: e-Ukraine, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
 }

 .input-filtr {
  display: flex;
width: 147px;
height: 21px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #989898;
font-family: e-Ukraine, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px
 }
 
 /* -------------------------------- */

.place-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
   flex-wrap: wrap;
   justify-content: center;
   width: 1200px;    
}

.place-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 45%; 
 margin: 8px 0; 
 
 }
 .place-img {
  display: flex;
  width: 536px;
  height: 250px;  
  width: 100%; 
 }
 

.place-item:nth-child(odd)>img { 
  border-radius: 50px 0px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}

  .place-item:nth-child(even)>img {   
    border-radius: 0px 0px 50px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.place-text {
  display: flex;
 flex-direction: row;
 align-content: space-between;
}

.place-descr {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 32px;
  width: 30%;
  flex-wrap: wrap; 
  color: #fff; 
  font-family: e-Ukraine, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding: 12px;  
  background-color: #000;
 transform: skewX(-5deg);
}

.place-btn {
  position: relative;
  left: 10%;
  background-color: rgb(6, 150, 102);
  border: 1px solid gray;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin: 10px;
}

/* -------------map-------------- */
.map {
  display: flex;
  position: relative; 
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  background-color: #000;
  padding: 48px 0;  
}



.map-title {
  display: flex;
  justify-content: center;
  color: #fff;

  font-family: e-Ukraine, sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; 
  text-transform: uppercase;
}
.map-link {
  display: flex;  
  align-self:  center;
}

.googl-map-link {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;  
  position: absolute;
  background: #000;
  border-radius: 5px;
  left: 72%;
  top: 85%;
  padding: 10px 20px;
}
.googl-map-text {
color: #FFF;
text-align: center;
font-family: e-Ukraine, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}

.google-map-arrow {
  display: flex;
  align-self: center;
  width: 12px;
  height: 12px;
}

/* ------------- add place ------- */


.add-place {
  display: flex;
  position: relative;
  flex-direction: column;
   align-items: center;
  
}

.add-title {
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; 
  text-transform: uppercase;
}

/* -------- photo--------- */
/* .add-photo {
  width: 140px;  
  height: 140px;
} */

.upload-container {
  background-color: #F5F4FA;
  width: 400px;
  height: 308px;
  border: 1px solid #F5F4FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Стилі для тексту "Обрати фото" */
.upload-text {
  font-size: 16px;
  color: #A3A3A3;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}

/* Приховуємо стандартний input для завантаження файлу */
input[type="file"] {
  display: none;
}

/* ------------------other filds------------ */

.add-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  align-items: center;
   
  flex-shrink: 0;  
  padding: 50px 0;
}

.add-part-block {
  display: flex;
  flex-direction: column;  
  gap: 32px; 
}

.add-name {  
  height: 68px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #E7E6ED;
}

.category {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  max-width: 800px;  
}
.each-ctg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-ctg {
  width: 19px;
height: 20px;
flex-shrink: 0;
fill: #000;
}

.categ-name {  
  
  padding: 6px 20px;
  margin: 16px 12px;
  border-radius: 100px;
  border: 2px solid #E7E6ED;
  min-width: 120px;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 12px;  
  font-weight: 500;
  line-height: 18px;
}


.add-coord {
  width: 340px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #E7E6ED;
}

.descr {
  width: 1200px;
  height: 192px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #E7E6ED;
}

.buttons{
  position: absolute;
  bottom: -10%;
  right: 20%; 
}

.add-buttons {
  display: flex;
  align-items: flex-start;
  align-self: end;
  gap: 16px;
  }

.icon-categor {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: #FF7878;
}

.icon-trash {
  width: 18px;
  height: 21px;
  position: absolute;
  left: 16px;
  top: 14px;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 185px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #000;

  color: #FFF;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

/* ------------------- questions -------------------*/
.bgd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1600px;
 
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 20px;
  padding: 40px 0;
  background-color: #000; 
}

.questions-title {
color: #FFF;
text-align: center;
font-family: e-Ukraine, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 18px; 
text-transform: uppercase;
padding: 20px 0;
}

.quastion-text-block {
  display: flex;
  justify-content: space-between;
  align-content: center;
   width: 1096px;
  /* justify-self: center; */
  border-radius: 5px;
  border: 2px solid #8C9BA5;
  padding: 16px 20px 0 20px;
 
}

.quastion-text {
  color: #FFF;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
/* line-height: 18px; */
}

.icon-openanswer {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
}

/* ------------ contacts ---------------- */

.contacts {
  background-color: #000;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 800px;
}
.contacts-fill {
  display: flex;
  position: absolute; 
  background-color: #fff;
  transform:skewY(-3deg);
  top: 60px;

  bottom: 100px;
  height: 560px;
  width: 100%;
}

.contacts.block {
  display: flex;
  position: relative;

}
.contact-title {
  display: flex;
  position: absolute;
  left: 47%;
  top: 35%;
  color: #000;

  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; 
  text-transform: uppercase;
}

.website-block, .email-block, .telegram-block {
  display: flex;
  align-items: center;
  gap: 20px; 
  
  
}

 .icon-address {
  display: block;
  width: 42px;  
  height: 42px;
  flex-shrink: 0;
 
}

.contact-cont {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 1000px;
  left: 25%;
  top: 45%;
}
  
.contact-item {
  color: #000;
/* text-align: center; */
font-family: e-Ukraine, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 18px;
padding-top: 20px;
}

/* ------------ footer ---------------- */
.fotter-position {
  display: flex;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  position: absolute;
 top: -180px;
 
  background-color: #000;
}
/* .laba {
  width: 80px;
  height: 80px;
  background-color: #fff;
} */