 /* html {
  max-width: 1920px;
} */

body {
  margin: 0px;
  background: #fff;
  max-width: 1920px;
  font-family: e-Ukraine, sans-serif;
}

main,
header,
footer,
nav {
  margin: 0px;
}

section {
  padding: 16px; }

/* ---------- header ------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 324px;
  background: url(/img/synevir.png);
  width: 100%;
  height: 1080px;
}
 
.logo {
  display: flex;
  justify-content: center;    
  background-color: rgb(6, 150, 102);
  color: white;
  font-size: 36px;
  padding: 4px 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.top-content {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 16px 50px;
}

.top-content>span {
  display: flex;
  gap: 100px;
  justify-content: center;
}
  .nav-content {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  font-family: e-Ukraine, sans-serif;
  text-decoration: none; 
  padding: 16px 0; 
  width: 140px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid #FAFAFA;
  box-shadow: 0px 4px 99px 0px #454753;
}

.nav-content:hover {
  color: bisque;
}

.srv-btn {
  display: flex;
  gap: 40px;
  justify-content: center;
  
}
.srv-btn>button {
  background-color: rgb(6, 150, 102);
  padding: 8px;
  color:#FFF
}

.srv-btn>button:hover {
  opacity: 0.8;
}

.hero-block {
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
font-family: e-Ukraine, sans-serif;
font-style: normal;
width: 35%;
gap: 40px;
margin: 0px 324px;
color: #FFF;
}

.hero-title {
  display: inline-flex; 
  justify-content: center;
  text-align: center;  
  font-size: 32px;  
  font-weight: 700;
  line-height: 18px;
}

.hero-text {
color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 20px; /* 166.667% */
}

.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 72px;
 
}

.search { 
  display: flex;
padding: 14px 50px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #6B76FF;
 color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 700;
}

.hero-btn > div {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 8px;
}

.learn {

/* width: 168px;
height: 40px; */
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 700;
}
.icon {
  display: flex;
  position: absolute;
 left: 110%;
 top: 20%;
  width: 12px;
  height: 16px;
  stroke-width: 2px;
  stroke: #FFF;
  

}
/* ---------------- about us ----------- */

.about {
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 20px;  
  width: 100%;
  height: 60%;
  flex-shrink: 0;
  background: #FFF;
  padding: 100px 0;  
}

.about-cont {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 30px
}

.about-items {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.about-img {
  display: flex; 
  padding: 20px;
  width: 132px;
  height: 112px;
}

.about-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px
}

.about-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
/* --------------------Social---------------- */

.social {
  position: relative;
  width: 1920px;
  height: 528px;
  top: 0px;
  flex-shrink: 0;
  background-image: url(/img/Rectangle.png);
  padding: 160px 0;
  margin: 50px 0;
}

.social-block {
  position: absolute;
  left: 800px;
  width: 500px;
}

.social-title {
  color: #FFF;
  font-family: e-Ukraine;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}

.social-text {
  color: #BCBCBC;
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  }




/* .figure {
  position: absolute;
  width: 1920px;
  top: 1680px;
  height: 528px;
  fill: #000;
} */

.picture {
  position: absolute;  
  top: -56px;
  left: 400px;
  width: 360px;
  height: 667px;
  transform: rotate(-2.001eg);
  flex-shrink: 0;
}

.social-icons {
  display: flex;
}

.social-icon {
  width:150px;
  height: 150px;
}

/* ------------------ form search --------------- */

.form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 20px;  
  flex-shrink: 0;  
  padding: 50px 0;
}

.form-search {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
 
}

/* .form-search>div>label {
  color: #ffcc7f;
  font-size: 20px;
} */

.form-input {
  display: flex;
  align-content: center;
  
  background-color: white;
  border-radius: 5px;
  border: 4px solid #F2EFF8;
  width: 1012px;
  height: 68px;
  font-size: 26px;
}

.search-icon {
  display: flex;
  align-content: center;
  width: 69px;
  height: 69px;
  /* background-color: #A5AEFF; */
  /* color: #A5AEFF; */
  /* position: absolute;
left: 1021px; */
  
}

 /* .butn {
  margin: 30px 10px 0 10px;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid gray;
  border-radius: 10px;
  background: #c8c7cc;
 } */
 /* -------------------------------- */

.place-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
   flex-wrap: wrap;
   justify-content: center;
   width: 1200px;    
}

.place-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 45%; 
 margin: 8px 0; 
 
 }
 .place-img {
  display: flex;
  width: 536px;
  height: 250px;  
  width: 100%; 
 }
 

.place-item:nth-child(odd)>img { 
  border-radius: 50px 0px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}

  .place-item:nth-child(even)>img {   
    border-radius: 0px 0px 50px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.place-text {
  display: flex;
 flex-direction: row;
 align-content: space-between;
}

.place-descr {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 32px;
  width: 30%;
  flex-wrap: wrap; 
  color: #fff; 
  font-family: e-Ukraine, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding: 12px;  
  background-color: #000;
 transform: skewX(-5deg);
}

.place-btn {
  position: relative;
  left: 10%;
  background-color: rgb(6, 150, 102);
  border: 1px solid gray;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin: 10px;
}

/* ------------- add place ------- */

.add-place {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 20px;  
  flex-shrink: 0;  
  padding: 50px 0;
}
/* .add-title {

} */
/* ------------------- */

.each-ctg {
 display: flex;
 flex-direction: row;
width: 178px;
height: 44px;
flex-shrink: 0;
border-radius: 10px;
background: #F5F4FA;
}


/* ------------ footer ---------------- */
.footer {
  background-color: forestgreen;
}