 /* html {
  max-width: 1920px;
} */

body {
  margin: 0px;
  
  max-width: 1920px;
  font-family: e-Ukraine, sans-serif;
}

main,
header,
footer,
nav {
  margin: 0px;
}

section {
  padding: 16px; 
 
}

  main {
    display: flex;
    flex-direction: column; 
    background: #f5f4f4;       
  }

  main > div {
    display: flex;
    flex-direction: column;  
    gap: 180px;
  }

  /* ::-webkit-input-placeholder,
  ::placeholder { 
    color: #000; 
    font-family: e-Ukraine, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
   */

/* ---------- header ------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 324px;
  background: url(/img/synevir.jpg);
  width: 100%;
  height: 1080px;
}
 
.logo {
  display: flex;
  justify-content: center;
  align-self: center;    
  background-color: rgb(21, 58, 46);
  color: white;
  font-size: 24px;
  padding: 0 16px 6px 16px;
  border: 1px solid white;
  box-shadow: 0px 4px 99px 0px #454753;
  border-radius: 10px;
  cursor: pointer;
 
}
.logo:hover {
  opacity: 70%;
  color: bisque;
  border: 2px solid bisque; 
  font-size: 23px;
  padding: 1px 18.3px 7px 18.3px;
}

.top-content {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 16px 50px;
}

.top-content>span {
  display: flex;
  gap: 100px;
  justify-content: center;
}
  .nav-content {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  font-family: e-Ukraine, sans-serif;
  text-decoration: none; 
  padding: 16px 0; 
  width: 140px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid #FAFAFA;
  box-shadow: 0px 4px 99px 0px #454753;
}

.nav-content:hover {
  color: bisque;
  border: 2px solid bisque; 
  opacity: 80%;
 }

.srv-btn {
  display: flex;
  gap: 40px;
  justify-content: center;  
}
.srv-btn>button {
  background-color: rgb(6, 150, 102);
  padding: 8px;
  color:#FFF;
  
}

.srv-btn>button:hover {
  opacity: 0.8;
  
}

.hero-block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: e-Ukraine, sans-serif;
  font-style: normal;
  width: 35%;
  gap: 40px;
  margin: 0px 324px;
  color: #FFF;
}

.hero-title {
  display: inline-flex; 
  justify-content: center;
  text-align: center;  
  font-size: 32px;  
  font-weight: 700;
  line-height: 18px;
}

.hero-text {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; 
}

.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 72px; 
}

.search { 
  display: flex;
  padding: 12px 44px; 
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #6B76FF;
  background: #6B76FF;
  color: #FFF;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
}
.search:hover {
opacity: 70%;
border: 2px solid #6b75ff;
padding: 12px 47.2px;
font-size: 18px;
}

.hero-btn > div {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 8px;
  
}

.learn {
color: #FFF;
text-align: center;
font-size: 19px;
font-weight: 700;
text-decoration: none;
}
.icon {
  display: flex;
  position: absolute;
  left: 110%;
  top: 20%;
  width: 12px;
  height: 16px;
  stroke-width: 2px;
  stroke: #FFF;
}
.learn:hover {
  opacity: 70%;
  font-size: 18px;
}
/* ---------------- about us ----------- */

.about {
  position: relative;  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;  
  width: 100%;
  height: 60%;
  flex-shrink: 0;
  background: #f5f4f4;  
}
.about-title {
  color: #000;
text-align: center;
font-family: e-Ukraine, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 18px; 
text-transform: uppercase;
margin-bottom: 76px;
}
.about-cont {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 75%;
  gap: 100px;  
}
.empty {
  display: flex;
  position: absolute; 
  background-color: white;  
  width: 260px;
  height: 292px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 150px 0px rgba(130, 130, 130, 0.20);
  top: 32px
}

.about-items {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 16%;
  align-items: center;
  cursor: pointer;
  text-decoration: none;  
}
  .about-items:hover .empty {
  border: 2px solid #6b75ff;
  opacity: 80%;
}
.about-items:hover .about-img {
  width: 148px;
  height: 124px;
}

.about-items:hover .about-slogan {
   /* opacity: 70%; */
   font-size: 17px;
}
.about-items:hover .about-descr{
  /* opacity: 70%; */
  font-size: 13px;
}

.about-img {
  display: flex; 
  margin-bottom: 48px;
  width: 132px;
  height: 112px;
  z-index: 1;
  }

.about-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  z-index: 1;
}

.about-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  z-index: 1;
}
/* --------------------Social---------------- */
.social-cont {
  display: flex;
  position: relative;
}

.social {
  display: flex;
  width: 100%;
  height: 460px;
  top: 0px;
  flex-shrink: 0;
  background-color: #000;
  transform: skewY(3deg);  
  margin: 20px 0;
}

.social-block {
  display: flex;
  flex-direction: column;  
  position: absolute;
  left: 880px;
  top: 160px;
  width: 30%
}

.social-title {
  color: #FFF;
  font-family: e-Ukraine, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.social-text {
  color: #BCBCBC;
  font-family: e-Ukraine, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  }

.picture:last-of-type {
  position: absolute;  
  top: -80px;
  left: 388px;
  width: 384px;
  height: 668px;
  transform: rotate(-2.001eg);
  flex-shrink: 0;
}
.picture {
  position: absolute;  
  top: -68px;
  left: 400px;
  width: 360px;
  height: 668px;
  transform: rotate(-2.001eg);
  flex-shrink: 0;
}

.social-icons {
  display: flex; 
  margin-top: -20px;
}

.box-icon {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
 }

.social-iconca {
  display: flex;
  position: absolute;
  align-self: center;
  left: 20px;
  width: 200px;
  height: 200px;
}

.social-in {
  display: flex;
  position: absolute;
  top: 87px;
  left: 110px;
  width: 20px;
  height: 20px;
}

/* .social-icons {
  display: flex;
  position: absolute;
  align-self: center;
  left: 22px;
  width: 15px;
  height: 20px; */
/* } */
/* ------------------ form search --------------- */

.form {
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center; 
  align-self: center;
  gap: 20px;  
  flex-shrink: 0;   
}
#search {
  color: #000;
text-align: center;
font-family: e-Ukraine, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 18px; /* 75% */
text-transform: uppercase;
}
.form-search {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

.form-input {
  display: flex;
  align-content: center;
  background-color: white;
  border-radius: 5px;
  border: 4px solid #F2EFF8;
  width: 1012px;
  height: 68px;
  font-size: 26px;
  padding: 0 20px;
}

.search-icon {
  display: flex;
  align-content: center;
  width: 69px;
  height: 69px;  
  cursor: pointer;
}
.search-icon:hover {
opacity: 80%;
width: 68px;
height: 68px; 
margin: 0.5px;
}

 .filtr {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;  
 }

 .filtr-category {
  display: flex;
  align-items: center;
  justify-content: center; 
   width: 30%;
  height: 48px;
  flex-shrink: 0;
  gap: 20px;
  border-radius: 10px;
  background: #F2EFF8;  
 }

 .name-filtr {
  display: flex; 
  height: 20px;
  align-self: center;
  flex-shrink: 0;
  color: #000;
  font-family: e-Ukraine, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
 }

 .input-filtr {
  display: flex;
  width: 147px;
  height: 21px;
  flex-direction: column;  
  flex-shrink: 0;
  color: #424242;
  font-family: e-Ukraine, sans-serif;
  font-size: 14px;  
  font-weight: 400;
  line-height: 18px
  }
  
.open {
  display: flex;
  gap: 8px;  
}

.open-gallery, .open-grid {
  display: flex;
  width: 32px;
  height: 32px;
  opacity: 40%;
  cursor: pointer;
}

.close-gallery {  
  padding: 4px;    
}

.open-gallery:hover {
  opacity: 60%;
}
.open-grid:hover {
  opacity: 60%;
}

/* Створення власного scrollbar */
.place-list::-webkit-scrollbar {
  width: 8px; 
}

/* Стилізація смуги прокручування */
.place-list::-webkit-scrollbar-thumb {
  background-color: #A5AEFF;   
   /* Колір смуги прокручування */
  border-radius: 5px;            
  /* Закруглені кути смуги */
}

/* Стилізація трека (фону) прокручування */
.place-list::-webkit-scrollbar-track {
  background-color:  #Fff; 
  /* Колір фону трека */
}

.place-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px; 
  height: 800px; /* Встановлюємо фіксовану висоту для колонки */
  overflow-y: scroll;    
}

.place-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 45%; 
  margin: 8px 0; 
 
 }
 .place-img {
  display: flex;
  width: 536px;
  height: 250px;  
  width: 100%; 
 }
 

.place-item:nth-child(odd)>img { 
  border-radius: 50px 0px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
  cursor: pointer;
}

  .place-item:nth-child(even)>img {   
    border-radius: 0px 0px 50px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    cursor: pointer;
  }

.place-item:nth-child(even)>img:hover, .place-item:nth-child(odd)>img:hover {
  display: flex;    
  padding: 0;
  border: 2px solid #bd6412;
  }

.place-text {
  display: flex;
  flex-direction: row;
  
  /* align-content: space-between; */
  }

.place-descr {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 32px;
  flex-wrap: wrap; 
  color: #fff; 
  font-family: e-Ukraine, sans-serif;
  font-size: 18px;
  text-transform: initial;
  font-weight: 600;
  line-height: 18px;
  padding: 12px;  
  background-color: #000;
 transform: skewX(-6deg);
}

.place-btn {
  position: relative;
  left: 10%;
  background-color: rgb(6, 150, 102);
  border: 1px solid gray;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin: 10px;
}

/* ----------- Photo List---------------  */
.place-block {
display: flex;
flex-direction: column;
gap: 60px;

}

.place-li {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.place-photo {
  display: flex;
  width: 50%;
  max-height: 250px;
  /* padding-right: 26px; */
  padding: 4px 4px 4px 4px;
  cursor: pointer;
  }

  .place-photo:hover {
    display: flex;    
    padding: 0;
    border: 2px solid #bd6412;
    }

.place-name {
  display: flex;
  align-content: center;
   color: #000;
  text-align: justify;
  font-family: e-Ukraine,sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
}

.place-detal {
  display: flex;
  align-content: center;
  color: #000;
  text-align: justify;
  font-family: e-Ukraine, sans-serif;
  font-size: 10px;
   font-weight: 400;
  line-height: 18px
}
.place-cont {
  display: flex;
  flex-direction: column;
  width: 50%;
  
  align-self: center;
  gap: 12px;
}


/* -------------map-------------- */
.map {
  display: flex;
  position: relative; 
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  background-color: #000;
  padding: 48px 0;  
}

.map-title {
  display: flex;
  justify-content: center;
  color: #fff;

  font-family: e-Ukraine, sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; 
  text-transform: uppercase;
}
.map-link {
  display: flex;  
  align-self:  center;
}

.googl-map-link {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;  
  position: absolute;
  background: #000;
  border-radius: 5px;
  left: 72%;
  top: 85%;
  padding: 10px 20px;
}
.googl-map-link:hover {
  opacity: 80%;
}

.googl-map-text {
color: #FFF;
text-align: center;
font-family: e-Ukraine, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}

.google-map-arrow {
  display: flex;
  align-self: center;
  width: 12px;
  height: 12px;
}

/* ------------- add place ------- */


.add-place {
  display: flex;
  position: relative;
  flex-direction: column;
   align-items: center;
  
}

.add-title {
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; 
  text-transform: uppercase;
}

/* -------- photo--------- */


.upload-container {
  background-color: #F5F4FA;
  width: 400px;
  height: 312px;
  border: 1px solid #F5F4FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Стилі для тексту "Обрати фото" */
.upload-text {
  font-size: 16px;
  color: #A3A3A3;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}

/* Приховуємо стандартний input для завантаження файлу */
input[type="file"] {
  display: none;
}

/* ------------------other filds------------ */

.add-block {
  display: flex;
  gap: 12px;
  justify-content: center;  
  align-items: center;   
  padding: 50px 0;
}
.add-part-block {
  display: flex;
  flex-direction: column;  
  gap: 36px; 
}

.add-name {  
  height: 48px;
  flex-shrink: 0;
  padding: 0 20px;
  border-radius: 5px;
  border: 2px solid #E7E6ED;
}

.category {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  max-width: 800px;  
}

.each-ctg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

 
 .icon-ctg {
  width: 19px;
  height: 20px; 
  fill: black; 
  /* stroke: black; */
    /* transition: fill 0.3s;  */
}

.each-ctg:hover .icon-ctg {  
  fill: white; 
  stroke: white;
}
.categ-name:hover {
  background-color: #000;
  color: white;  
}

.categ-name {
  display: flex;
  align-self: center;
  gap: 10px;
  padding: 8px 20px;
  margin: 16px 12px;
  border-radius: 100px;
  border: 2px solid #E7E6ED;
  min-width: 132px;  
  color: #000;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 14px;  
  font-weight: 500;
  line-height: 18px;  
}

.add-coord {
  width: 340px;
  height: 48px;
  padding: 0 20px;
  border-radius: 5px;
  border: 2px solid #E7E6ED;
}

.descr {
  display: block;
  width: 1200px;
  height: 192px;
  padding: 10px 40px;
  border-radius: 5px;
  border: 2px solid #E7E6ED;
}

.buttons {
  position: absolute;
  bottom: -10%;
  right: 20%; 
}

.add-buttons {
  display: flex;
  align-items: flex-start;
  align-self: end;
  gap: 16px;
  }

.icon-categor {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: #FF7878;
}

.icon-trash {
  width: 18px;
  height: 21px;
  position: absolute;
  left: 16px;
  top: 14px;
}
.icon-categor:hover {
  background-color: red;
  opacity: 80%;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 185px;
  height: 47px;
  border-radius: 5px;
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px; 
  font-weight: 500;
  line-height: 140%;
}
.add:hover {
  opacity: 80%;
}

/* ------------------- questions -------------------*/
.bgd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1600px;
 
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 20px;
  padding: 40px 0;
  background-color: #000; 
}

.questions-title {
color: #FFF;
text-align: center;
font-family: e-Ukraine, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 18px; 
text-transform: uppercase;
padding: 20px 0;
}

.question-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
   width: 1096px;
  /* justify-self: center; */
  border-radius: 5px;
  border: 2px solid #8C9BA5;
  padding: 16px 20px 0 20px;
 
}

.question {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  
}
.answer {
padding-bottom: 20px;
}

.icon-openanswer {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
}
.icon-openanswer:hover {
  color: #cec3c3;
  font-size: 40px;
}

/* ------------ contacts ---------------- */

.contact {
  background-color: #000;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 800px;
}
.contacts-fill {
  display: flex;
  position: absolute; 
  background: #f5f4f4; 
  transform:skewY(-3deg);
  top: 60px;
  bottom: 100px;
  height: 560px;
  width: 100%;
}

.contacts.block {
  display: flex;
  position: relative;

}
.contact-title {
  display: flex;
  position: absolute;
  left: 47%;
  top: 35%;
  color: #000;  
  text-align: center;
  font-family: e-Ukraine, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; 
  text-transform: uppercase;
}

.website-block, .email-block, .telegram-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px 10px; 
  background: #FFF;
  /* border: 2px solid #A5AEFF; */
  width: 296px;
  z-index: 1;
  }

  .website-block:hover, .email-block:hover, .telegram-block:hover {
    border-radius: 5px;
    border: 2px solid #A5AEFF;   
    box-shadow: 0px 4px 190px 0px rgba(130, 130, 130, 0.25);
    padding: 8px;
    opacity: 80%;
    }

 .icon-address {
  display: block;
  width: 42px;  
  height: 42px;
  flex-shrink: 0; 
}

.contact-cont {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 1000px;
  left: 25%;
  top: 45%;  
}
  
.contact-item {
  color: #000;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;  
}
/* .contact-item:hover {
  color: #6B76FF;
} */
/* ------------ footer ---------------- */
section {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-bottom: 100px;  
}

.footer-position {
  display: flex;
  flex-direction: row;
  max-width: 1096px;
  align-content: space-between;
  align-items: center;
  position: relative;  
}

.footer {
  display: flex;
  flex-direction: row;
  max-width: 560px; 
  /* position: absolute; */
}

.footer-label {
  display: inline;
  padding: 0 10px;
  background-color: #BCBCBC;
  color: #BCBCBC;
 
}
.footer-cont{
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}

.title-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  text-align: justify;
  font-family: e-Ukraine, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 40px;
}
.descr-project {
  display: flex;
  width: 560px;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFF;
  text-align: justify;
  font-family: e-Ukraine, sans-serif;
  font-size: 10px;
  line-height: 18px;
  padding-right: 100px;
}