    {{#with activeMap}}
    <div class="map", id="map">
          <h3 class="map-title">{{title}}</h3>
          <iframe class="map-link" src="{{src}}" width="1300" height="620" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
           </iframe>
           <div class="googl-map-link">
              <a href="https://www.google.com/maps/@50.393338,25.9771985,11.38z?authuser=0&entry=ttu" target="_blank" rel="noopener noreferrer">
              <button class="googl-map-text">{{link}}</button></a>
              <span class="google-map-arrow" style="background-image: url('/svg/IconMapArrow.svg')"></span>
            </div>    
    </div>
    {{/with}}