  
<div class="place-li">
     <img src="{{photo}}" alt="photo" class="place-foto">                   
                    
     <div class="place-cont">
      <p class="photo-title">Хотинська фортеця, Хотин</p>            
        <p class="place-detal">Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Magna etiam tempor orci eu 
            lobortis. Arcu felis bibendum ut tristique et egestas quis. 
            Euismod lacinia at quis risus sed vulputate odio ut enim. 
            Porttitor massa id neque aliquam vestibulum morbi.</p>
        <div><b class="txt-coord">Координати:</b><em class="coordinate">50.503975, 26.255156</em></div>
     </div>
</div>  
  

  {{!-- <img src="шлях_до_фото.jpg" alt="Фото" class="photo" data-toggle="modal" data-target="#photoModal">

<!-- Модальне вікно, яке буде відображати фото -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="photoModalLabel">Фото</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Вставте зображення або вміст вашої картки тут -->
        <img src="шлях_до_фото.jpg" alt="Фото">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div> --}}