  <div class="questions">
      {{#with questions}}
    <h1 class="questions-title">{{title}}</h1>
    {{#each details}}
    <div class="question-block">
        <div class="question" data-answer="{{answer}}"><span>{{question}}</span> <button class="toggle-answer"><p class="icon-openanswer">+</p></button></div>
        
        <div class="answer question" style="display: none;">{{answer}}</div>
        
    </div>
    {{/each}}
    {{/with}}
</div>
