
    <div class="social-cont" id="social"> 

            <div class="social"> 
            </div>

            <img class="picture" src="/png/phone.png" alt="picture" srcset="">
            {{!-- <img class="picture" src="/png/screenPhone.png" alt="picture" srcset=""> --}}
            {{#with social}}

            <div class="social-block">
              
                <h2 class="social-title">{{title}} </h2>

                <p class="social-text">{{text}} </p>

                <div class="social-icons"> 

                     <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/instagram.png" alt="">
                        </a>
                    </div>
                    <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/Facebook.png" alt="">
                        </a>
                    </div>
                    <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/Telegram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            {{/with}}
    </div>